input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.Changepass-Main {
    background-color: #fafafa;
    height: 100vh;
    max-width: 100%;
    position: relative;
}

/* Header Part start */
.Changepass-Main-Header {
    position: absolute;
    top: 50px;
    left: 40px;
}

.Changepass-Main-div {
    display: flex;
    background-color: white;
    width: 980px;
    border-radius: 10px;
    margin-right: 50px;
}

.Changepass-Main-div h5 {
    color: gray;
    font-size: 16px;
}

.Changepass-card-A {
    padding: 10px;
    background-color: #f3eeff;
}

.Changepass-card-A h5 {
    color: #9f79fc;
}

.Changepass-card-A-A {
    text-decoration: none;
    color: #9f79fc;
    margin-top: 5px,
}

.Changepass-card-H {
    padding: 10px;
    padding-right: 10px;
    margin-top: 5px;
}

.Changepass-card-H h5 {
    color: rgb(27, 18, 18);
}

.Changepass-card-A-B {
    text-decoration: none;
    color: rgb(27, 18, 18);
}

/* Header Part end */


/* Main-Body Part start */

.Changepass-Main-body {
    position: absolute;
    top: 20%;
    left: 50px;
    background-color: white;
    width: 980px;
    height: 65vh;
    border-radius: 10px;

}

.Changepass-card-Header {
    position: relative;
    top: 30px;
}

.Changepass-card-Header h5 {
    margin-left: 10px;
    font-size: 15px;
    font-weight: bolder;

}
.icon-c{
    position: relative;
    top: 52%;
    left:92%;
    color: #9d9d9d;
}
.Changepass-Color {
    color: #9f79fc;
}
.button-c{
    position: absolute;
        top: 88%;
        left: 50px;
        background-color: #6a2ff9;
        color: #e9e1fe;
}